/*
   Webfont: Lato-Hairline
   url: http://www.latofonts.com/lato-free-fonts/
*/

@font-face
  font-family: 'Lato'
  src: url('fonts/LatoLatin-Regular.eot')
  src: url('fonts/LatoLatin-Regular.eot?#iefix') format('embedded-opentype'),
    url('fonts/LatoLatin-Regular.woff') format('woff'),
    url('fonts/LatoLatin-Regular.ttf') format('truetype');
  font-style: normal
  font-weight: normal
  text-rendering: optimizeLegibility

@font-face
  font-family: 'LatoHairline'
  src: url('fonts/LatoLatinHair-Regular.eot')
  src: url('fonts/LatoLatinHair-Regular.eot?#iefix') format('embedded-opentype'),
    url('fonts/LatoLatinHair-Regular.woff') format('woff'),
    url('fonts/LatoLatinHair-Regular.ttf') format('truetype');
  font-style: normal
  font-weight: normal
  text-rendering: optimizeLegibility

@font-face
  font-family: 'LatoLight'
  src: url('fonts/LatoLatinLight-Regular.eot')
  src: url('fonts/LatoLatinLight-Regular.eot?#iefix') format('embedded-opentype'),
    url('fonts/LatoLatinLight-Regular.woff') format('woff'),
    url('fonts/LatoLatinLight-Regular.ttf') format('truetype');
  font-style: normal
  font-weight: normal
  text-rendering: optimizeLegibility

@font-face
  font-family: 'LatoBlack'
  src: url('fonts/LatoLatinBlack-Regular.eot')
  src: url('fonts/LatoLatinBlack-Regular.eot?#iefix') format('embedded-opentype'),
    url('fonts/LatoLatinBlack-Regular.woff') format('woff'),
    url('fonts/LatoLatinBlack-Regular.ttf') format('truetype');
  font-style: normal
  font-weight: normal
  text-rendering: optimizeLegibility

@font-face
  font-family: 'LatoBold'
  src: url('fonts/LatoLatin-Bold.eot')
  src: url('fonts/LatoLatin-Bold.eot?#iefix') format('embedded-opentype'),
    url('fonts/LatoLatin-Bold.woff') format('woff'),
    url('fonts/LatoLatin-Bold.ttf') format('truetype');
  font-style: normal
  font-weight: normal
  text-rendering: optimizeLegibility
  