// from https://github.com/jQuerySF/2015.jquerysf.com/blob/master/app/stylus/globals/mixins.styl
backgroundGradient(color1, color2)
  background: -webkit-linear-gradient(270deg, color1, color2); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(270deg, color1, color2); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(270deg, color1, color2); /* For Firefox 3.6 to 15 */
  background: linear-gradient(270deg, color1, color2); /* Standard syntax */

transition(args)
  -webkit-transition: args
  -moz-transition: args
  transition: args

transform(t)
  -webkit-transform: t
  -moz-transform: t
  transform: t

centerVertical()
  position: relative
  top: 50%
  transform(translateY(-50%))

centerHorizontal()
  position: relative
  left: 50%
  transform(translateX(-50%))

centerAbsolute()
  position:absolute
  top:50%
  left:50%
  transform(translate(-50%, -50%))