// from https://github.com/jQuerySF/2015.jquerysf.com/blob/master/app/stylus/globals/theme.styl

//Font set
$fonts-regular = normal normal 400 1em/1em 'Lato',Helvetica,Arial,sans-serif;
$fonts-light = normal normal 100 1em/1em 'LatoLight',Helvetica,Arial,sans-serif
$fonts-very-light = normal normal 100 1em/1em 'LatoHairline',Helvetica,Arial,sans-serif
$fonts-bold = normal normal 100 1em/1em 'LatoBold',Helvetica,Arial,sans-serif
$fonts-very-bold = normal normal 100 1em/1em 'LatoBlack',Helvetica,Arial,sans-serif
$fonts-code = normal normal 100 1em/1em 'Source Code Pro',Courier,monospace

$fonts-lora-regular = normal normal 400 1em/1em 'Lora',Helvetica,Arial,sans-serif;
$fonts-lora-bold = normal normal 700 1em/1em 'Lora',Helvetica,Arial,sans-serif;

$background-primary = white
$background-secondary = #5c5f74

$foreground-primary = #5C5F74
$foreground-secondary = white
$foreground-tertiary = #50CAC6

$colors-border = #ecedee
