doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title From BDFL to Consensus Seeking

    link(rel='stylesheet', type='text/css', href='build/build.css')

  style.
    .hello {
      background-image: url('images/hello-tharr.gif')
    }

  body

    article

      section
        h2 Open Source Governance Models:
        h3 From BDFL to Consensus Seeking
        h4 With your host
        h4
          a(href='https://twitter.com/MylesBorins') @MylesBorins
        p  Linux Open Source Leadership Summit
        
      section(data-bespoke-backdrop='hello')
        h1 Howdy
        
      section
        h2 My Name is Myles
        img.headroom(src='images/me.jpg' alt='itsa me!' height="60%")
      
      section
        h3 I am gainfully employed by Google as a Developer Advocate
        h4 Focusing on the Node.js ecosystem on GCP
        
        img(src='images/gcp.png' alt='Google Clud Platform' style='background-color:white;')
        
        h5.headroom The opinions expressed in this talk are solely my own

      section
        h2 Thank You
        img.headroom(src='images/best-gif-evar.gif' alt='a surfing puppy' width='20%')
        h4 @MylesBorins

    script(src='build/build.js')
